In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.cluster import KMeans

In [34]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [16]:
df1 = df[["neighbourhood_group", "neighbourhood", "price", "number_of_reviews"]]

In [22]:
df1_norm = df1.copy()
scaler = preprocessing.MinMaxScaler()
df1_norm[["price", "number_of_reviews"]] = scaler.fit_transform(df1_norm[["price", "number_of_reviews"]])
df1_norm = pd.get_dummies(df1_norm, columns=["neighbourhood_group", "neighbourhood"])

In [23]:
df1_norm.head()

,price,number_of_reviews,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,neighbourhood_Allerton,neighbourhood_Arden Heights,neighbourhood_Arrochar,...,neighbourhood_Westerleigh,neighbourhood_Whitestone,neighbourhood_Williamsbridge,neighbourhood_Williamsburg,neighbourhood_Willowbrook,neighbourhood_Windsor Terrace,neighbourhood_Woodhaven,neighbourhood_Woodlawn,neighbourhood_Woodrow,neighbourhood_Woodside
0,0.0149,0.014308,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0225,0.071542,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0150,0.000000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0089,0.429253,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0080,0.014308,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
kmeans = KMeans(3)
clusters = kmeans.fit_predict(df1_norm)
labels = pd.DataFrame(clusters)
labeled = pd.concat((df,labels),axis=1)
labeled = labeled.rename({0:'labels'},axis=1)

In [25]:
clusters

array([0, 2, 2, ..., 2, 2, 2])

In [41]:
df2 = df[['price', 'neighbourhood_group']]

df3 = df2.copy()

scaler = preprocessing.MinMaxScaler()
df3[["price"]] = scaler.fit_transform(df3[["price"]])
df3= pd.get_dummies(df3, columns=["neighbourhood_group"])

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   price                              48895 non-null  float64
 1   neighbourhood_group_Bronx          48895 non-null  uint8
 2   neighbourhood_group_Brooklyn       48895 non-null  uint8
 3   neighbourhood_group_Manhattan      48895 non-null  uint8
 4   neighbourhood_group_Queens         48895 non-null  uint8
 5   neighbourhood_group_Staten Island  48895 non-null  uint8
dtypes: float64(1), uint8(5)
memory usage: 620.9 KB

In [45]:
#Importing required modules
 
from sklearn.datasets import load_digits
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import numpy as np
 
#Import KMeans module
from sklearn.cluster import KMeans
 
#Initialize the class object
kmeans = KMeans(n_clusters= 10)
 
#predict the labels of clusters.
label = kmeans.fit_predict(df3)
 
#Getting unique labels
u_labels = np.unique(label)
 
#plotting the results:
for i in u_labels:
    plt.scatter(df3[label == i , 0] , df3[label == i , 1] , label = i)
plt.legend()
plt.show()

TypeError: '(array([ True, False, False, ..., False, False, False]), 0)' is an invalid key